    body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


iframe {
    background: rgba(255, 255, 255, 0.5);  /* Semi-transparent white */
    border: none;  /* Remove default border */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity:.9;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    transition: transform .5s; /* Smooth transformation */
}
iframe:hover {
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg);
}

a {
    margin: 0 10px; /* Space out the icons */
    color: #333;    /* Default color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #0077b5; /* Change color on hover (example color for LinkedIn) */
}
